---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos" description="À propos">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Tu veux en apprendre plus sur moi ? C'est ici !"
			>
			</Hero>

			<section>
				<h2 class="section-title">Moi</h2>
				<div class="content">
					<p>
						Je m'appelle Noufel Sellay, j'ai 20 ans, et je suis en 3e année du BUT M.M.I à l'institut universitaire de technologie à Limoges.
						Ici vous retrouverez toutes mes traces, mes travaux, mes projets que j'ai réalisés, je vous 
						ferai aussi part de mes acquis, mes difficultés et mes points forts.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li><strong>JavaScript :</strong> Je maîtrise le langage JavaScript pour le développement web côté client.</li>
						<li><strong>CSS :</strong> Mes compétences en CSS me permettent de styliser et de mettre en page des sites web de manière efficace.</li>
						<li><strong>HTML :</strong> Je suis capable de créer des structures web solides et sémantiques en utilisant HTML.</li>
					</ul>

					<ul>
						<li><strong>Tailwind CSS :</strong> J'ai une expertise dans l'utilisation du framework CSS utility-first, Tailwind CSS, pour simplifier et accélérer le processus de développement.</li>
					</ul>

					<ul>
						<li><strong>PHP :</strong> Je suis compétent en PHP pour la création de sites web dynamiques et interactifs.</li>
						<li><strong>Symfony :</strong> Je maîtrise le framework PHP Symfony, ce qui me permet de développer des applications web robustes et évolutives.</li>
					</ul>

					<ul>
						<li><strong>Next.js :</strong> J'ai de l'expérience avec Next.js, un framework React, pour la construction d'applications web côté serveur et côté client.</li>
						<li><strong>React :</strong> Je suis à l'aise avec la bibliothèque React pour créer des interfaces utilisateur interactives et réactives.</li>
					</ul>

					<ul>
						<li><strong>Monteur vidéo :</strong> Possède des compétences en montage vidéo.</li>
						<li><strong>Intégrateur web :</strong> Compétent en intégration web.</li>
					</ul>

					<ul>
						<li><strong>Autres frameworks :</strong> Je suis familier avec d'autres frameworks, tels que Symfony (pour le back-end), qui facilitent le développement rapide et la maintenance des applications.</li>
					</ul>



				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
